[Unit]
Description=Go App
Wants=network-online.target
After=network-online.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=root
Group=root
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/opt/go-app/server -config=/opt/go-app/config.yaml

[Install]
WantedBy=multi-user.target