---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bun-app
  namespace: benchmark
spec:
  replicas: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: bun-app
  template:
    metadata:
      labels:
        app: bun-app
    spec:
      terminationGracePeriodSeconds: 0
      containers:
      - name: bun-app
        image: aputra/bun-app-273:v3
        ports:
        - name: http
          containerPort: 8080
        env:
        - name: NODE_ENV
          value: production
        resources:
          requests:
            memory: 3Gi
            cpu: 750m
          limits:
            memory: 3Gi
            cpu: 1000m
        readinessProbe:
          httpGet:
            path: /healthz
            port: http
        livenessProbe:
          httpGet:
            path: /healthz
            port: http
        volumeMounts:
        - name: config
          mountPath: /home/bun/app/config.yaml
          subPath: config.yaml
        - name: tmp
          mountPath: /tmp
      volumes:
      - name: config
        configMap:
          name: bun-app
      - name: tmp
        hostPath:
          path: /tmp
          type: DirectoryOrCreate
      tolerations:
      - effect: NoSchedule
        operator: Exists
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - bun-app
            topologyKey: "kubernetes.io/hostname"
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node
                operator: In
                values:
                - general
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - amd64
