[Unit]
Description=Rest Server
Wants=network-online.target
After=network-online.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=root
Group=root
Type=simple
Restart=on-failure
RestartSec=15s
ExecStart=/usr/local/bin/rest-server

[Install]
WantedBy=multi-user.target
