[package]
name = "actix-app"
version = "0.1.0"
edition = "2021"

[dependencies]
log = "0.4"
env_logger = "0.11.5"
serde = { version = "1.0.209", features = ["derive"] }
actix-web = { version = "4" }

[profile.release]
lto = true
codegen-units = 1
panic = "abort"
