asgiref==3.8.1
boto3==1.35.21
botocore==1.35.21
Django==5.1
django-prometheus==2.3.1
greenlet==3.0.3
gunicorn==23.0.0
isort==5.13.2
jmespath==1.0.1
msgpack==1.0.8
packaging==24.1
prometheus-summary==0.1.2
prometheus_client==0.20.0
psycopg==3.2.2
psycopg-binary==3.2.2
psycopg-pool==3.2.3
pynvim==0.5.0
python-dateutil==2.9.0.post0
quantile-estimator==0.1.2
s3transfer==0.10.2
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
