---
apiVersion: v1
kind: Service
metadata:
  name: fastapi-app
  namespace: benchmark
spec:
  ports:
  - name: http
    port: 8080
    targetPort: http
  selector:
    app: fastapi-app
  type: ClusterIP
