[Unit]
Description=Nginx Prometheus Exporter
Wants=network-online.target
After=network-online.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=root
Group=root
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/prometheus-nginx-exporter

[Install]
WantedBy=multi-user.target
