---
services:
  app:
    build: ./fastapi-app-simpler
    ports:
      - 8080:8080
    depends_on:
      - postgres
    networks:
      - private
  postgres:
    image: postgres:18.1
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_DB: store
      POSTGRES_PASSWORD: devops123
    command: postgres -c 'max_connections=1000'
    networks:
      - private

networks:
  private:
