[package]
name = "ntex-app"
version = "0.1.0"
edition = "2024"

[profile.release]
codegen-units = 1
lto = "thin"

[dependencies]
ntex = { version = "2.11.0", features = ["tokio"] }
serde = { version = "1.0.218", features = ["derive"] }
deadpool-postgres = "0.14.1"
tokio-postgres = "0.7.13"
